<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='NUEVO2.css') }}">
    <title>Control Stock</title>
</head>

<body>
    <div class="clase0">
        <!-- Encabezado de página -->
        <header>
            <div class="logo2">Enigma</div>
            <nav>
                <p>{{ current_user.name }}</p>
                <a href="#" class="nav-link">Inicio</a>
                <a href="{{ url_for('logout') }}" class="nav-link">Cerrar Sesión</a>
                
            </nav>
        </header>

        <!-- Búsqueda y carga de datos -->
<!-- Búsqueda y carga de datos -->
        <div class="clase2">
            <form action="{{ url_for('index') }}" method="post">
                {{ search_form.csrf_token }}
                <input type="text" placeholder="Buscar..." name="search_query">
                <div class="separacion"></div>
                <!--<a href="{{ url_for('product_form') }}" class="clase2-link">Cargar Producto</a>-->
                
               
            </form>
        </div>


        <h3 class="clase1">Tabla de Ventas</h3>
        <div class="barra-celeste"></div>

        <!-- Tabla de elementos -->
        <div id="main-container">
            {% if ventas %}
                <table border="1">
                    <thead>
                        <tr>
                            <th>Meses</th>
                            <th>Ventas 2022</th>
                            <th>Ventas 2023</th>
                            <th>Proyección 2024</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for venta in ventas %}
                                <td>{{ i }}</td> <!--hacer una iteracion, sera 1, 2, 3...-->
                                <td>{{ venta.1 }}</td>
                                <td>{{ venta.2 }}</td>
                                <td>{{ venta.3 }}</td>
                                <td>
                                    <a href="{{url_for('edit_product', product_id=product[0]) }}"><img src="{{ url_for('static', filename='editar.jpg') }}" height="20" width="20"></a>
                                    <a href="{{ url_for('delete_product', product_id=product[0]) }}"><img src="{{ url_for('static', filename='borrar.jpg') }}" height="20" width="20"></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No se encontraron ventas.</p>
            {% endif %}
        </div>
    </div>
    <p><a href="{{ url_for('show_signup_form') }}">Registrate</a></p>
</body>

</html>
