<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='NUEVO1.css') }}">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="logo2">Enigma</div>
        <nav>
            <a href="#" class="nav-link">¡Bienvenido al Inicio de Sesión!</a>
        </nav>
    </header>
    <div class="clase0">
        <h1 class="clase1">Inicio de sesión</h1>
        <div class="barra-celeste"></div>
        <div class="logo1">Enigma</div>

        <form action="" method="post" novalidate class="login-form">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="login-input", placeholder="Correo electrónico") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="login-input", placeholder="Contraseña") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(id="login-button", class="login-button", value="Siguiente") }}
            </div>
        </form>
        
    </div>
</body>

</html>
